<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsable collapsable--expanded footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">products</h2>
        <img src="images/chevron.svg" class="icon collapsable__chevron" />
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>
            <a href="#">Website Hosting</a>
          </li>
          <li>
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li>
            <a href="#">Wordpress</a>
          </li>
          <li>
            <a href="#">Migrations</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">company</h2>
        <img src="images/chevron.svg" class="icon collapsable__chevron" />
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Affiliates</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">support</h2>
        <img src="images/chevron.svg" class="icon collapsable__chevron" />
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Knowledge Base</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">domain</h2>
        <img src="images/chevron.svg" class="icon collapsable__chevron" />
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li>
            <a href="#">Domain Checker</a>
          </li>
          <li>
            <a href="#">Domain Transfer</a>
          </li>
          <li>
            <a href="#">Free Domain</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright © 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
